<link rel="stylesheet" href="/css/chatbot.css" />
<% if(locals.user){ %>
<div class="chat-container" id="user-chat-box">
  <div class="chat-messages" id="chat-messages">
    <div class="message received">Hello there!</div>
    <div class="message sent">Hey, how's it going?</div>
  </div>
  <div class="chat-input">
    <input type="text" id="message-input" placeholder="Type your message..." />
    <button id="send-button">Send</button>
  </div>
</div>
<% } %>
