<!-- <footer class="footer">
  <div class="footer__container">
    <p class="copyright">&#169; AuraVibe. All Right Reserved</p>
    <ul class="footer__list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/users/profile">Profile</a>
      </li>
    </ul>
  </div>
</footer> -->
<!-- 
<footer id="layout-footer">
  <div>
    <p>&#169; AuraVibe. All Rights Reserved</p>
  </div>

  <div>
    <nav class="footer-nav">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/users/profile">Profile</a>
        </li>
      </ul>
    </nav>
  </div>
</footer> -->
