<link rel="stylesheet" href="home.css" />

<h1>Welcome to AuraVibe!</h1>
<h3>Please Sign-in to view the posts :) or Sign-up</h3>

<section id="feed-posts">
  <% if (locals.user) { %>
  <h4>Posts</h4>
  <form action="/posts/create-post" id="new-post-form" method="POST">
    <textarea
      name="content"
      id=""
      cols="30"
      rows="4"
      placeholder="Type Here..."
    ></textarea>
    <input type="submit" value="Post" />
  </form>

  <div id="posts-container">
    <ul>
      <% for (post of posts) {%>
      <li>
        <p>
          <%= post.content %>
          <small><%= post.user.name %> </small>
        </p>
      </li>
      <%}%>
    </ul>
  </div>

  <% } %>
</section>
