<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css" />
    <%- style %>
  </head>
  <body>
    <%- include('_header') %> <%- body %>
    <footer>
      <h1>
        This is the Layout of the website. Inside it there is variable part
        above
      </h1>
    </footer>
  </body>
</html>
