<form action="/users/createResetToken" method="POST">
  <p>Enter Details to send Password Reset Email Link on Your Email</p>
  <input type="email" name="email" required placeholder="Enter E-Mail" />
  <input class="auth__btn" type="submit" value="Send Email" />
</form>
