<form action="/users/reset-password-submit/<%= resetToken %>" method="POST">
  <input
    type="password"
    name="password"
    required
    placeholder="Enter Password"
  />
  <input
    type="password"
    name="confirm_password"
    required
    placeholder="Confirm password"
  />

  <input type="submit" value="Reset Password" />
</form>
