<link rel="stylesheet" href="/css/authentication.css" />
<div class="auth__container sign-up-container">
  <h1 class="auth__heading">Sign Up</h1>

  <div class="auth__social-auth-buttons">
    <a href="/users/auth/google"
      ><img src="/images/google-icon.png" alt=""
    /></a>
  </div>
  <div class="text-delimiter">
    <span>or sign up with email</span>
  </div>

  <form class="auth__form" action="/users/create" method="POST">
    <input type="text" name="name" required placeholder="Enter Name" />
    <input type="email" name="email" required placeholder="Enter E-Mail" />
    <input
      type="password"
      name="password"
      required
      placeholder="Enter Password"
    />
    <input
      type="password"
      name="confirm_password"
      required
      placeholder="Confirm password"
    />
    <input class="submit-button" type="submit" value="Sign Up" />
  </form>
</div>
