<link rel="stylesheet" href="/css/authentication.css" />
<div class="auth__container">
  <h1 class="auth__heading">Sign In</h1>

  <form class="auth__form" action="/users/create-session" method="POST">
    <input type="email" name="email" required placeholder="Enter E-Mail" />
    <input
      type="password"
      name="password"
      required
      placeholder="Enter Password"
    />
    <input class="auth__btn" type="submit" value="Sign In" />
  </form>

  <p><a href="/users/auth/google">Google Sign/Sign Up</a></p>
</div>
