footer {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  background-color: darkgray;
  max-height: 5rem;
  .copyright::before {
    content: "\00A9"; /* Unicode for the copyright symbol */
    padding: 0.5rem;
  }
  p {
    font-size: 1.5rem;
    padding: 1rem 1rem 0 1rem;
    display: flex;
  }
  ul {
    display: flex;
    font-size: 0.1rem;
    li {
      list-style: none;
      a {
        padding-top: 0;
        size: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}
