.header {
  background-color: #b64fc8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__mainHeading {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      padding: 0 1rem;
      font-size: 1.25rem;
    }
  }
}
