* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
}
main {
  overflow: scroll;
  height: 87vh;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
