<h1>Reset Password</h1>
<h5>Hello <%= user.name %>,</h5>
<p style="font-size: 16px; margin-bottom: 20px">
  You can reset your password by clicking accessToken
  <a
    href="http://localhost:8000/users/reset-password/<%= accessToken %>"
    target="_blank"
    style="color: #007bff; text-decoration: underline"
    >this link</a
  >.
</p>

<p style="font-size: 16px; margin-bottom: 20px">
  If you didn't request this reset, please ignore this email.
</p>
<p style="font-size: 16px">Thank you!</p>
