.footer {
  background-color: gray;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
  .footer p {
    color: white;
    font-size: 1.2rem; }
  .footer__list {
    display: flex;
    gap: 10px; }
    .footer__list li {
      font-size: 1.125rem; }
