footer {
  background-color: darkgray;
  max-height: 5rem; }
  footer .footer-container {
    display: flex;
    justify-content: space-between; }
  footer .copyright::before {
    content: "\00A9";
    /* Unicode for the copyright symbol */
    padding: 0.5rem; }
  footer p {
    font-size: 1.5rem;
    padding: 1rem 1rem 0 1rem;
    display: flex; }
  footer ul li {
    padding: 10px 10px 0 10px; }
    footer ul li a {
      text-decoration: none;
      color: blueviolet;
      font-size: 1.5rem;
      padding: 0; }
