.header {
  max-height: 50px;
  background-color: #b64fc8;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__mainHeading {
    font-size: 1.25rem;
    margin: 0;
    padding: 1rem; }
  .header p a {
    color: white; }
  .header__list {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header__list li {
      padding: 0 1rem;
      font-size: 1.125rem; }
      .header__list li a {
        color: white; }
