* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100vh;
  background-color: #000;
  color: white; }

#layout-main {
  overflow: scroll;
  height: 88.6vh;
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none; }
