body {
  background-color: lightblue;
  text-align: center;
  width: 70%;
}

p {
  font-size: 2rem;
}

input {
  width: 20%;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
